@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P";
  background-color: #0d1b2a;
  color: #fffcf2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.game_over {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.prompt {
  text-align: center;
  line-height: 50px;
  background-color: #003566;
  padding: 20px 30px;
  border-radius: 15px;
  font-size: 26px;
}

.lost {
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  border-radius: 5px;
  height: 100%;
}

.restart {
  padding: 20px;
  background: #003566;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.none {
  display: none;
}

.board-top {
  display: flex;
  padding: 20px;
  gap: 35px;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background: #003566;
}

.cells {
  display: flex;
  flex-wrap: wrap;
  border: 15px solid #003566;
  border-radius: 15px;
}

.info {
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-header {
  color: #0d1b2a;
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 18px;
}

#mines-qty {
  display: flex;
  height: 40px;
  padding: 0 15px;
  background: #001d3d;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 40px;
  height: 40px;
  outline: none;
  background: #003566;
  font-size: 24px;
  color: #fff;
  font-family: inherit;
}

.btn:active {
  background: #003566;
}

.btn-pressed {
  background: #001d3d;
  border-style: inset;
}

.btn-pressed:active {
  background: #001d3d;
}

#diff {
  font-size: 16px;
  height: 40px;
  padding: 0 10px;
  background: #001d3d;
  outline: none;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  cursor: pointer;
  border: none;
  appearance: none;
  text-align: center;
}
